* {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;   
    background: linear-gradient(120deg, #ff9a9e, #fad0c4);
    font-family: 'Segoe UI', sans-serif;
    overflow-x: hidden;
    overflow-y: auto;
}
.card {
    background: white;
    width: 90%;
    max-width: 360px;
    margin: 40px auto;
    padding: 20px;
    border-radius: 25px;
    text-align: center;
    box-shadow: 0 15px 30px rgba(0,0,0,0.2);
}

.card img {
    width: 100%;
    border-radius: 20px;
    margin: 15px 0;
}

h1 {
    font-size: 22px;
    color: #ff4b5c;
}

h2 {
    font-size: 18px;
    margin: 15px 0;
}

p {
    font-size: 15px;
}

.buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}

button {
    padding: 10px 18px;
    border-radius: 25px;
    border: none;
    font-size: 14px;
    cursor: pointer;
}

button:first-child {
    background: #ff4b5c;
    color: white;
}

#noBtn {
    background: #ddd;
}

/* Tim r∆°i */
.heart {
    position: fixed;
    top: -10px;
    color: red;
    font-size: 20px;
    animation: fall linear infinite;
}

@keyframes fall {
    to {
        transform: translateY(110vh);
    }
}



